[Client Options]
    #The minimum, unless the source text is smaller, number of
    #sentences to be sent per job request; Can be overridden
    #from command line. Recommended value is 100.
    min_sent_count=100
    
    #The maximum number of sentences to be sent per job request;
    #Can be overridden from command line. Recommended value is 100.
    max_sent_count=200
    
    #The job priority value; Can be negative, neutral is 0,
    #can be overridden from command line. Recommended value is 0.
    job_priority=0
    
    #The flag indicating whether translation info is to be  requested from
    #the server to be put into the translation log file; Can be overridden
    #from command line. The recommended value is false.
    is_trans_info=false

[Pre-processor Options]
    #The URI of the pre-processor server or keep empty for none; Here <protocol>
    #is 'ws' or 'wss', the former is for TLS enabled communications.
    server_uri=ws://localhost:9004

[Translator Options]
    #The URI of the translation or load balancer server; Here <protocol>
    #is 'ws' or 'wss', the former is for TLS enabled communications.
    server_uri=wss://localhost:9001

    #Defines the server TLS mode; The 'undef' is only used for 'ws' protocol.
    #Is optional and may be skipped for when <protocol> is set to to 'ws'.
    #Must be >= that that of the server's TLS mode, the order is natural.
    tls_mode=int

    #Defines the client TLS ciphers; Is an optional parameter  and may be 
    #left empty for system defaults. Is optional and may be skipped for when
    #<protocol> is set to 'ws'. Must agree  with the ciphers used by the server,
    #otherwise a 'TLS handshake failure' is possible.
    tls_ciphers=ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

[Post-processor Options]
    #The URI of the post-processor server or keep empty for none. Here <protocol> 
    #is 'ws' or 'wss', the former is for TLS enabled communications.
    server_uri=ws://localhost:9004
