# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.tcm

#OcamL
*.cmi
*.cmo
*.cmx

#MegaM executables and model files
/script/tuning/megam_0.92/.depend
/script/tuning/megam_0.92/large
/script/tuning/megam_0.92/megam
/script/tuning/megam_0.92/megam.opt
/script/tuning/megam_0.92/small2
/script/tuning/megam_0.92/weights

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*~

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#LaTex
*.aux
*.idx
*.ilg
*.log
*.toc
*.ind

#The text editor's rubbish
*.bak

#The screen logs
screenlog.*


# Executables
*.exe
*.out
*.app
/dist/
/build/
/test-data/q_5_gram_100.000.000.txt
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.w2ca.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.11-07-2015-19_31_17.pdf
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.srilm.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.gnuplot
/test-data/e_30_2564372.lm
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.11-07-2015-19_31_17.pdf
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.srilm.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.w2ch.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.kenlm.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.c2dh.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.g2dm.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.c2wa.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.kenlm.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.c2dm.data
/test-data/gen_compare.sh
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.c2dh.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.c2wa.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.w2ch.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.c2dm.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/lm.sizes.info
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.w2ca.data
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/mem.gnuplot
/test-data/experiments/2015-11-09/results-smt10-11-07-2015-19_31_17/time.g2dm.data

#The bleu score script
.bleu-nocased

#The Os-x files
.DS_Store
