[Server Options]
#The port to listen to; <unsigned integer>
server_port=9002
num_threads=2

[Language Options]
#The source language name; <string>
source_lang=German
#The target language name; <string>
target_lang=English

[Language Models]
#The language model file name; <string>
language_model=/home/user/models/language_model.mdl
$One of the following: {c2dm, w2ch, c2wa, w2ca, c2dh, g2dm, h2dm}
trie_type_name=h2dm

[Translation Models]
#The translation model file name; <string>
translation_model=/home/user/models/translation_model.mdl

[Reordering Models]
#The reordering model file name; <string>
reordering_model=/home/user/models/reordering_model.mdl

[Decoding Options]
#The distortion limit to use; <unsigned integer>
distortion_limit=4
#The pruning threshold to be used; <positive float>
pruning_threshold=0.123
#The stack capacity for stack pruning; <unsigned integer>
stack_capacity=20
#The stack expansion strategy; <string>
expansion_strategy=stack|threshold
