[Server Options]
    #The port to listen to; <unsigned integer>
    server_port=9000

    #The number of threads to handle the text processing requests
    num_threads=20

    #The folder for storing the input and output text files
    work_dir=./proc_text

    #Stores the default pre-processor call template
    #The <PROC_JOB_UID> defines the source text
    #   1. Input file name: <PROC_JOB_UID>.pre.in.txt
    #   2. Output file name: <PROC_JOB_UID>.pre.out.txt
    pre_call_templ=pre_process.sh <PROC_JOB_UID> <LANGUAGE>
    
    #Stores the default post-processor call template
    #The <PROC_JOB_UID> defines the target text:
    #   1. Input file name: <PROC_JOB_UID>.post.in.txt
    #   2. Output file name: <PROC_JOB_UID>.post.out.txt
    post_call_templ=post_process.sh <PROC_JOB_UID> <LANGUAGE>
    
    #Stores the |-separated list of language configurations, case sensitive!
    #The language names must match as is with the server and client source,
    #target names. So this is why we prefere to use lower-case English names.
    land_configs=english|german|french|chinese

[english]
    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    pre_call_templ=eng_pre_process.sh <PROC_JOB_UID> <LANGUAGE>

    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    post_call_templ=eng_post_process.sh <PROC_JOB_UID> <LANGUAGE>

[german]
    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    pre_call_templ=

    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    post_call_templ=de_post_process.sh <PROC_JOB_UID> <LANGUAGE>

[french]
    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    pre_call_templ=fr_pre_process.sh <PROC_JOB_UID> <LANGUAGE>

    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    post_call_templ=

[chinese]
    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    pre_call_templ=

    #The pre-processor script call template, if an empty
    #string then there is no pre-processor for this language
    post_call_templ=

